<!-- res.redirect('/townHall/all/screen/'+data.workOrder+'/'+data.dealerCode+'/'+data.jobDir+'/'+data.allJobDir);
 -->
<div class="container">
		<div class="title"><h2 class="form-signin-heading">{{ title }}</h2></div>
		<div class="title">
			<p class="editHeader"> {{ jobDir }} : {{ workOrder }} : {{ Status }}</p>
		</div>

		<form name="myForm" method="post"  class="form-signin">
			<input type="hidden" id="output" name="output" value="fromPostToScreen">
			<input type="hidden" id="dealerCode" name="dealerCode" value="{{ dealerCode }}">
			<input type="hidden" id="jobDir" name="jobDir" value="{{ jobDir }}">
			<input type="hidden" id="workOrder" name="workOrder" value="{{ workOrder }}">
			<input type="hidden" id="allJobDir" name="allJobDir" value="{{allJobDir}}">
			<input type="hidden" id="sqlDcode" name="sqlDcode" value="{{Dcode}}">
			<input type="hidden" id="recNo" name="recNo" value="{{recNo}}">
			<input type="hidden" id="sqlCount" name="sqlCount" value="{{ this.count}}">			
			<input type="hidden" id="mode" name="mode" value="deleteTown">

			<div class="row">
				<div class="col-sm-4" ></div>
					<div class="col-sm-4">
						<hr />						
						<table>
						   <tr>
							   <td style="font-size: 16px; font-weight: bold; width: 100px;">Reprint:</td>
							   <td><input style="text-align: right; width: 200px;" type="text" name="reprint" id="reprint" class="form-control" 
							        value ="{{ this.reprint }}" {{isReprint this.Status }}/></td>
						   </tr>
							 <tr>
							   <td style="font-size: 16px; font-weight: bold; width: 100px;">Count:</td>
							   <td><input style="text-align: right; width: 200px;" type="text" name="count" id="count"  class="form-control"
							        value ="{{ this.count }}" {{isdisabled this.Status }} /></td>
						   </tr>
						   <tr>
							   <td style="font-size: 16px; font-weight: bold; width: 100px;">Prd Code:</td>
							   <td><input style="text-align: left; width: 200px;" type="text" name="Dcode" id="Dcode" class="form-control"
								  	 value="{{ Dcode }}" {{isdisabled this.Status }} />
							   </td>
						   </tr>
						</table>
						<hr />
						<button class="btn btn-sm btn-primary btn-block" type="button" id="edit1"
						 	name="edir1" onClick = "validate_edit( 'POST', 'displayTowns')" >Accept
						</button>

						<button class="btn btn-sm btn-danger btn-block" type="button" id="delete"
						 	name="delete" onClick = "validate_delete( 'POST', 'addRemoveTown')"   {{isdisabled this.Status }} >Delete
						</button>

						<button class="btn btn-sm btn-primary btn-block" type="button" id="edit2"
							name="edit2" onClick = "getPage( 'POST', 'displayTowns' )">Cancel</button>
					</div>
					<div class="col-sm-4"></div>
			</div>
		</form>
</div>
