
<div class = 'row'>
    <div class="container" style='border: 0px solid red;'>
        <div style="margin: 0 auto; text-align: left; width: 100%;">
            <h2 class="form-signin-heading" style="text-align: center;">{{ title }}</h2>
            <hr />

          <form  name="myForm"  action="">
            <input type='hidden' name='selectedFileName' id='selectedFileName' value = '{{ selectedFileName }}' >
            <input type='hidden' name='dealerCode' id='dealerCode' value = '{{ dealerCode }}' >
            <input type='hidden' name='workOrder'  id='workOrder' value = '{{ workOrder  }}' >
            <input type='hidden' name='allJobDir'  id='allJobDir' value = '{{ allJobDir }}' >
            <input type='hidden' name='arrlength'  id='arrlength' value = '{{ rowData.length }}'>
            <input type='hidden' name='jobDirSelected'  id='jobDirSelected' value = '{{ jobDirSelected }}'>
            <input type="hidden" name="URL" id="URL" value ="updateOrder" />
            <input type="hidden" name="expireMess" id="expireMess" value ="" />


            <table class="table table-condensed" style='width: 100%x; font-size: 12px; font-weight: bold; ' border = '0'>
                <thead>
                  <tr style='background-color: #1C89D1; color: #fff'>
                    <td colspan='2'><h4>Listing by Codes</h4></td>
                    <td colspan='3'>
                         <select id="selReport" name="selReport" class="form-control" onChange = "reportSelect()" required autofocus>
                            {{#each jobDir }}
                                <option>{{this}}</option>
                            {{/each}}
                          </select>

                    </td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Action <span class="caret"></span>
                          </button>
                           <ul class="dropdown-menu">

<li><a id='SD1' href="javascript: actionSelect('SD1')"><span class="dropDownBold">All Records</span></a></li>
<li><a id='SD2' href="javascript: actionSelect('SD2')">Open Items</a></li>
<li><a id='SD3' href="javascript: actionSelect('SD3')">Printed Items</a></li>
<li><a id='SD4' href="javascript: actionSelect('SD4')">Files Not Found</a></li>
<li><a id='SD5' href="javascript: actionSelect('SD5')">Files Not Mailing</a></li>

<li role="separator" class="divider"></li>
<li><a id='CM1' href="javascript: actionSelect('CM1')"><span class="dropDownRed">Add Expire Date</span></a></li>
<li><a id='CM2' href="javascript: actionSelect('CM2')"><span class="dropDownRed">Remove Expire Date</span></a></li>
<li role="separator" class="divider"></li>
<li><a id='AT1' href="javascript: addTown();"><span class="dropDownRed">Add Town</span></a></li>
<li role="separator" class="divider"></li>
<li><a id='PM1' href="javascript: process('doReverse');"><span class="dropDownRed">Reverse Printing</span></a></li>
<li role="separator" class="divider"></li>
<li><button class="btn btn-md btn-primary btn-block "
            type="button" onclick= " getPage('post', 'pageProcess' )">Quit</button> </li>

                          </ul>
                          <span id='dropTable'></span>
                        </div>
                    </td>
                    <td  colspan="3">
                        <button id='sendToPdf' class="btn btn-md btn-primary btn-block"
                         type = "button" onClick="process('fusionPro')">Process</button>
                    </td>
                     <td colspan="3" id='TotalCount' class="tdNumeric"> &nbsp;</td>
                  </tr>
                  <tr>
                    <th width="4%">&nbsp;</th>
                    <th width="30%">Dealer Territory</th>
                    <th width="7%" class="tdNumeric">No. Files</th>
                    <th width="5%" class="tdNumeric">Counts</th>
                    <th width="5%" class="tdNumeric">Date</th>
                    <th width="18%"><span id='showSel'>All Records [{{ rowData.length }}]</span></td></th>
                    <th width="5%">------</th>
                    <th width="1%">
                        <input name="chkBx0" id="chkBx0" value="" type="checkbox" onClick="Javascript: chkBoxToggle();"></th>
                    <th width="5%" class="tdNumeric">Reprint</th>
                    <td width="5%" class="tdNumeric">Done </th>
                    <th width="5%" class="tdNumeric">Sheet Cnt&nbsp;</th>
                  </tr>
                </thead>

                <tbody id='bodyResponse'>
                    {{#each rowData }}
                        <tr>
                            <td>{{inc @index}} <input type ="hidden" id = "RecNo{{inc @index}}" name = "RecNo{{inc @index}}" value = '{{ this.RecNo}}' /> </td>
                            <td id="twn{{inc @index}}">{{this.Dcode}} | {{City}}</td>
                            <td id="fileCnt{{inc @index}}" class="tdNumeric">{{ this.NoFiles }}</td>
                            <td id="setCnt{{inc @index}}" class="tdNumeric">{{ this.Count }}</td>
                            <td class="tdNumeric" >{{this.ModDate }}</td>
                            <td class="status" id="respLine{{inc @index}}" >{{ this.Status }}</td>
                            <td id="editOpt{{inc @index}}"><a href="javascript: editLine( '{{ this.RecNo}}' );">Edit</a></td>
                            <td >
                                <input name="chkBx{{inc @index}}" id="chkBx{{inc @index}}" type="checkbox" onClick="Javascript: chkBox( {{inc @index}} ); chkBoxScan( 'sumChkBxs', null); ">
                            </td>
                            <td  id="reprint{{inc @index}}" class="tdNumeric">{{ this.Reprint }} </td>
                            <td  id="printed{{inc @index}}" class="tdNumeric">{{ this.PrintCount }} </td>
                            <td class="tdNumeric" id="pages{{inc @index}}">&nbsp;</td>
                        </tr>
                    {{/each}}
                </tbody>
                <tr>
                    <td colspan="11"><button class="btn btn-md btn-primary btn-block "
                        type="button" onclick= " getPage('post', 'pageProcess' )">Return</button>
                    </td>
                </tr>
            </table>
          </form>
        </div>
    </div>
</div>
